@import url("https://fonts.googleapis.com/css2?family=Philosopher&display=swap");

.App {
  text-align: center;
  font-family: "Philosopher", sans-serif;
  height: 100%;
}
.link {
  text-decoration: none;
  color: white;
}
#container {
  display: flex;
  justify-content: space-between;
}

.my-links {
  display: flex;
  justify-content: space-around;
}
#circle {
  width: 150px;
  height: 150px;
  border:30px solid brown;
  border-radius: 50%;
  position: absolute;
  top :-80px;
  left : 370px;
  z-index: -10;
}
.my-links a {
  margin: 10px;
}

.link:hover {
  color: goldenrod;
}

.register {
  margin: 40px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 600px;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.register * {
  text-align: justify;
}
.my-input{
  display: flex;
  flex-direction: column;
  text-align: justify;
}
.register .my-input {
  width: 65%;
  margin-left:auto;
  margin-right: auto;
}
.my-input input {
  border-radius: 35px;
  padding:5px;
  /* background: transparent; */
}
.register button {
  width: 170px;
  border-radius: 35px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align: center;
  background-color: rgba(203, 57, 57, 0.803)
}
.register h1 {
  text-align: center;
  
}
.last {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}
