.bienfait {
    background: url("https://previews.123rf.com/images/peshkova/peshkova1301/peshkova130100457/17600941-stack-of-colorful-books-on-brick-background.jpg") !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    color: #1d442c;
}